<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <p><a href="/login">Click here</a> to go to login Page</p>
  </div>
</body>

</html>