<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
  <div>
    <a href="/logout">LOGOUT</a>
  </div>
    <div id="algn">
        <div id="card">
            <div id="upper-bg">
                <img src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="profile-pic" class="profile-pic">
            </div>
            <div id="lower-bg">
              <div class="text">
                <p class="name"> username </p>
                <p class="title">Profession</p>
              </div>
              <div id="icons">
                <a href="#" class="ico"><img width="48" height="48" src="https://img.icons8.com/color/48/gmail-new.png" alt="gmail-new"/></a>
                <a href="#" class="ico">
                  <img width="48" height="48" src="https://img.icons8.com/fluency/48/github.png" alt="github"/>
                </a>
                <a href="#" class="ico">
                  <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
                </a>
                <a href="#" class="ico">
                  <img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/>
                </a>
              </div>
              <div id="btn">
                <button class="msg">Subscribe</button>
                <button class="msg">Message</button>
              </div>
              <div id="l-c-s">
                <div class="num">
                  <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png" alt="facebook-like--v1"/>
                  <span>35k</span>
                </div>
                <div class="num dvr"></div>
                <div class="num">
                  <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble--v1.png" alt="speech-bubble--v1"/>
                  <span>20k</span>
                </div>
                <div class="num dvr"></div>
                <div class="num">
                  <img width="48" height="48" src="https://img.icons8.com/pulsar-line/48/share.png" alt="share"/>
                  <span>15k</span>
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="license">
            <div class="ll"><a  href="https://icons8.com/icon/P7UIlhbpWzZm/gmail">Gmail</a> icon by <a href="https://icons8.com">Icons8</a></div>
            <div class="ll"><a  href="https://icons8.com/icon/AZOZNnY73haj/github">GitHub</a> icon by <a href="https://icons8.com">Icons8</a></div>
            <div class="ll"><a  href="https://icons8.com/icon/13930/linkedin">LinkedIn</a> icon by <a href="https://icons8.com">Icons8</a></div>
            <div class="ll"><a  href="https://icons8.com/icon/118497/facebook">Facebook</a> icon by <a href="https://icons8.com">Icons8</a></div>
            <div class="ll"><a  href="https://icons8.com/icon/u8MTpAq972MG/like">Like</a> icon by <a href="https://icons8.com">Icons8</a></div>
            <div class="ll"><a  href="https://icons8.com/icon/8h51YOzhBJmT/comment">Comment</a> icon by <a href="https://icons8.com">Icons8</a></div>
        </div>
</body>
</html>